<!DOCTYPE html>
<html lang="en">

<head>

  <title>Your Travel Planner</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description"
        content="Travel planner web app project for Udacity Front End Web
          Developer Nanodegree Program.">

  <link href="../styles/weather-icons.min.css" rel="stylesheet">
  <link href="../styles/main.css" rel="stylesheet">

</head>

<body>

<div class="header">
  <h1>Your Travel Planner</h1>
  <i class="wi wi-day-cloudy wi-xx-large"></i>
  <p>hello</p>
</div>

</body>

</html>