<!DOCTYPE html>
<html lang="en">

<head>

  <title>Your Travel Planner</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description"
        content="Travel planner web app project for Udacity Front End Web
          Developer Nanodegree Program.">

  <!--  Google fonts: https://fonts.google.com/-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Work+Sans:wght@100;200;300;400&display=swap"
    rel="stylesheet">

</head>

<body>

<div class="content fc-row ju-center">
  <div class="fc-col flex-1 max-w900 ma-l10 ma-r10">

    <!--
    ########## Title ##########
    -->
    <div class="fc-col ma-t100 ma-b50">
      <div class="fc-row ju-center">
        <p class="title">Your Travel Planner</p>
      </div>
    </div>

    <!--
    ########## Trips section ##########
    -->
    <div id="trips">

      <template id="trip-tmpl">
        <div id="trip-">
          <div class="fc-col ma-b10 default-font bkg-col-midnight-green-eagle-green">

            <!-- Row 1 -->
            <div class="fc-row ma-l10 ma-r10 ma-t20 ma-b10">
              <!-- location data -->
              <div class="fc-col fi-grow-1 light-font">
                <p class="ma-b10"><span class="default-font">My trip to: </span><span id="city-">---, </span><span id="country-">---</span></p>
                <p class="ma-b10"><span class="default-font">Departing: </span><span id="departure-time-">--/--/----</span></p>
                <p class="ma-b10">The trip to <span id="city2-">---, </span><span id="country2-">---</span> is <span id="days-to-trip-">--- days</span> away.</p>
              </div>
              <!-- remove button -->
              <div class="fc-col ju-center ma-l10 fi-grow-1">
                <div class="fc-row ju-center">
                  <div class="fc-col">
                    <input id="remove-" type="submit" class="remove" value="Remove trip">
                  </div>
                </div>
              </div>
            </div>

            <!-- Row 2: weather data, image -->
            <div class="fc-row ma-l10 ma-r10 ma-b10">
              <div class="fc-col fi-grow-1 top-line">
                <!-- Section title, time, timezone -->
                <div class="fc-row ma-t10">
                  <div class="fc-col fi-grow-1">
                    <p class="light-font">TODAY'S WEATHER:</p>
                  </div>
                  <div class="fc-col fi-grow-1">
                    <div class="fc-row ju-end">
                      <span id="current-time-" class="time">--:--</span>
                    </div>
                    <div class="fc-row ju-end">
                      <span class="tz">Local time <span id="tz-">---</span></span>
                    </div>
                  </div>
                </div>
                <!-- Icon, temperature, other weather values -->
                <div class="fc-row ma-t10">
                  <div class="fc-col ma-r10">
                    <div class="fc-row ju-center">
                      <span class="temp"><span id="temp-">--</span>&deg;C</span>
                    </div>
                    <div class="fc-row ju-center pad-icon">
                      <i id="current-day-icon-"></i>
                    </div>
                    <div class="fc-row ju-center">
                      <p class="value txt-center"><span
                        id="weather-description-">---</span></p>
                    </div>
                  </div>
                  <div class="fc-col pad-t20">
                  </div>
                  <div class="fc-col ju-center left-line">
                    <div class="fc-col ma-l20">
                      <p class="value">Wind speed: <span id="wind-speed-">---</span> m/s</p>
                      <p class="value">Wind direction: <span id="wind-direction-">---</span></p>
                      <p class="value">AQI: <span id="aqi-">---</span></p>
                      <p class="value">Rel. humidity: <span id="relative-humidity-">---</span> %
                      </p>
                      <p class="value">Pressure: <span id="pressure-">---</span> mb</p>
                      <p class="value">Sunrise: <span id="sunrise-">---</span></p>
                      <p class="value">Sunset: <span id="sunset-">---</span></p>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Location image -->
              <div id="img-box-" class="fc-col fi-grow-1 im-box-min-space img-box img-box-small ma-l10">
                <div class="fc-row ju-end">
                  <div class="fc-col">
                    <p class="img-credit">Image by
                      <a id="img-credit-">---</a> from
                      <a href="https://pixabay.com">Pixabay</a>
                    </p>
                  </div>
                </div>
              </div>
            </div>

            <!-- Row 3: weather forecast -->
            <div class="fc-row ma-l10 ma-r10 ma-b10 top-line">
              <div class="fc-col fi-grow-1 ma-t10">
                <div class="fc-row">
                  <p class="light-font">WEATHER FORECAST:</p>
                </div>
                <!-- forecast -->
                <div id="forecast-" class="fc-row ma-t10"></div>
              </div>
            </div>

            <!-- Row 4: location image for small screen widths -->
            <div class="fc-row ma-l10 ma-r10 ma-b10">
              <div id="img-box-below-" class="fc-col fi-grow-1 im-box-min-space img-box img-box-below">
                <div class="fc-row ju-end">
                  <div class="fc-col">
                    <p class="img-credit">Image by
                      <a id="img-credit-below-">---</a> from
                      <a href="https://pixabay.com">Pixabay</a>
                    </p>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </template>

      <template id="forecast-tmpl">
        <!-- One day forecast -->
        <div class="fi-grow-1 fc-col">
          <!-- Weekday -->
          <div class="fc-row ju-center">
            <span id="day-{weekday}-{trip}" class="forc-text">---</span>
          </div>
          <!-- Weather icon -->
          <div id="day-{weekday}-icon-border-{trip}" class="fc-row ju-center">
            <i id="day-{weekday}-icon-{trip}"></i>
          </div>
          <!-- Temperature -->
          <div class="fc-row ju-center">
            <span class="forc-text">
              <span class="temp-range"><span id="day-{weekday}-low_temp-{trip}">--</span>&deg; - <span
                id="day-{weekday}-max_temp-{trip}">--</span>&deg;</span>
              <span class="temp-single"><span id="day-{weekday}-temp-{trip}">--</span>&deg;</span>
            </span>
          </div>
        </div>
      </template>

    </div>

    <!--
    ########## Input section ##########
    -->
    <div class="fc-col ma-b50">

      <div class="fc-row ju-center bkg-col-field-drab">
        <div class="fc-col">

          <!-- Error message -->
          <p id="error-msg" class="error ma-t30 ma-l10 ma-r10 ma-b10 visibility-hidden">Unfortunately, I don’t know this place.
            Please choose another location.</p>

          <!-- Input location -->
          <div class="fc-row ma-l10 ma-r10 ma-b10">
            <div>
              <label class="input-label">My trip to: </label>
              <input id="location" type="text" list="suggestions" class="input" size="35"
                     placeholder="enter location">
              <datalist id="suggestions" open="open">
                <option value="Erfurt">
                <option value="Berlin">
                <option value="Dubai">
                <option value="Lagos">
                <option value="Peking">
                <option value="Tokyo">
                <option value="Hong Kong">
              </datalist>
            </div>
          </div>

          <!-- Input date -->
          <div class="fc-row ma-l10 ma-r10 ma-b10">
            <div>
              <label class="input-label">Departing: </label>
              <input id="date" type="date" class="input">
            </div>
          </div>

          <!-- Submit button -->
          <div class="fc-col ma-l10 ma-r10 ma-b30">
            <input id="submit" type="submit" class="submit" value="Let's go!">
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="other-credits">
  Weather data by <a href="https://www.weatherbit.io/api">Weatherbit</a>
</div>

<div class="other-credits">
  Country data by <a href="https://restcountries.eu">REST Countries</a>
</div>

<div class="other-credits">
  Location name to GPS coordinates mapping by <a href="https://www.geonames.org">GeoNames</a>
</div>

</body>

</html>