/* Coolors Exported Palette - https://coolors.co/0e3b43-357266-a3bbad-65532f-312509 */

:root {
  --midnight-green-eagle-green: #0e3b43ff;
  --hookers-green: #357266ff;
  --cambridge-blue: #a3bbadff;
  --field-drab: #65532fff;
  --olive-drab-7: #312509ff;

  --barn-red: #780000ff;
  --carnelian: #c1121fff;
  --papaya-whip: #fdf0d5ff;
  --prussian-blue: #003049ff;
  --air-superiority-blue: #669bbcff;
}
