.fc-col {
  display: flex;
  flex-direction: column;
}

.fc-row {
  display: flex;
  flex-direction: row;
}

.fi-grow-3 {
  flex-grow: 3;
}

.fi-grow-2 {
  flex-grow: 2;
}

.fi-grow-1 {
  flex-grow: 1;
}

.ju-start {
  justify-content: flex-start;
}

.ju-center {
  justify-content: center;
}

.ju-end {
  justify-content: flex-end;
}

.ma-r20 {
  margin-right: 20px;
}

.ma-l20 {
  margin-left: 20px;
}

.ma-t50 {
  margin-top: 50px;
}

.ma-b30 {
  margin-bottom: 30px;
}

.ma-b50 {
  margin-bottom: 50px;
}

.pad20 {
  padding: 20px;
}

.max-w700 {
  max-width: 700px;
}

.bkg-img {
  position: relative;
}

.bkg-img:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url("../img/compass-2946959.jpg");
  background-size: cover;
  opacity: 0.15;
}

.content {
  position: relative;
}

.title {
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
  font-size: 44pt;
}

.error {
  font-family: 'Open Sans', sans-serif;
  font-size: 11pt;
  color: var(--carnelian);
  margin: 10px 20px 10px 10px;
}

.input {
  height: 45px;
  font-family: 'Open Sans', sans-serif;
  font-size: 14pt;
  border-radius: 0;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom: 3px solid var(--cambridge-blue);
  padding: 10px;
  margin-right: 20px;
}

.input:focus {
  outline: none;
}

.input:focus,
.input:active {
  border-bottom: 3px solid var(--field-drab);
}

.submit {
  height: 45px;
  font-family: 'Open Sans', sans-serif;
  font-size: 14pt;
  color: white;
  background-color: var(--field-drab);
  border-radius: 0;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom: 3px solid var(--field-drab);
  padding: 10px;
}

.submit:hover {
  box-shadow: 0 0 4px var(--hookers-green);
}

.submit:active {
  background-color: var(--olive-drab-7);
}

.data_panel {
  background-color: var(--midnight-green-eagle-green);
}

.forecast_panel {
  background-color: var(--olive-drab-7);
}

.city {
  font-family: 'Work Sans', sans-serif;
  font-weight: normal;
  font-size: 32pt;
  color: white;
}

.country {
  font-family: 'Work Sans', sans-serif;
  font-weight: normal;
  font-size: 12pt;
  color: white;
}

.time {
  font-family: 'Work Sans', sans-serif;
  font-weight: normal;
  font-size: 24pt;
  color: white;
}

.tz {
  font-family: 'Work Sans', sans-serif;
  font-weight: normal;
  font-size: 8pt;
  color: white;
}

.icon {
  font-size: 44pt;
  color: white;
}

.temp {
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
  font-size: 44pt;
  color: white;
}

.value {
  font-family: 'Work Sans', sans-serif;
  font-weight: 200;
  font-size: 10pt;
  color: white;
  padding: 4px 0 4px 0;
}

.forc-text {
  font-family: 'Work Sans', sans-serif;
  font-weight: 200;
  font-size: 10pt;
  color: white;
  padding: 8px;
}

.forc-icons {
  color: white;
  padding: 5px;
}

.img-box {
  position: relative;
  display: inline-block;
  overflow: hidden;
  margin: 0;
}

.city-img {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  /*min-height: 100%;*/
  /*min-width: 10%;*/
  transform: translate(-50%, -50%);
}

.border-l {
  border-left: white 1px solid;
}

.hidden {
  opacity: 0;
}

.red {
  background: orangered;
}

.green {
  background: yellowgreen;
}

.blue {
  background: steelblue;
}

.dbg-border--red {
  border: red 1px solid;
}

.dbg-border--blue {
  border: blue 1px solid;
}

.dbg-border--green {
  border: green 1px solid;
}

.dbg-border-space {
  padding: 1px;
  margin: 1px;
}
