/* Coolors Exported Palette - https://coolors.co/0e3b43-357266-a3bbad-65532f-312509 */

/* CSS HEX */
--midnight-green-eagle-green: #0e3b43ff;
--hookers-green: #357266ff;
--cambridge-blue: #a3bbadff;
--field-drab: #65532fff;
--olive-drab-7: #312509ff;

/* CSS HSL */
--midnight-green-eagle-green: hsla(189, 65%, 16%, 1);
--hookers-green: hsla(168, 37%, 33%, 1);
--cambridge-blue: hsla(145, 15%, 69%, 1);
--field-drab: hsla(40, 36%, 29%, 1);
--olive-drab-7: hsla(42, 69%, 11%, 1);

/* SCSS HEX */
$midnight-green-eagle-green: #0e3b43ff;
$hookers-green: #357266ff;
$cambridge-blue: #a3bbadff;
$field-drab: #65532fff;
$olive-drab-7: #312509ff;

/* SCSS HSL */
$midnight-green-eagle-green: hsla(189, 65%, 16%, 1);
$hookers-green: hsla(168, 37%, 33%, 1);
$cambridge-blue: hsla(145, 15%, 69%, 1);
$field-drab: hsla(40, 36%, 29%, 1);
$olive-drab-7: hsla(42, 69%, 11%, 1);

/* SCSS RGB */
$midnight-green-eagle-green: rgba(14, 59, 67, 1);
$hookers-green: rgba(53, 114, 102, 1);
$cambridge-blue: rgba(163, 187, 173, 1);
$field-drab: rgba(101, 83, 47, 1);
$olive-drab-7: rgba(49, 37, 9, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #0e3b43ff, #357266ff, #a3bbadff, #65532fff, #312509ff);
$gradient-right: linear-gradient(90deg, #0e3b43ff, #357266ff, #a3bbadff, #65532fff, #312509ff);
$gradient-bottom: linear-gradient(180deg, #0e3b43ff, #357266ff, #a3bbadff, #65532fff, #312509ff);
$gradient-left: linear-gradient(270deg, #0e3b43ff, #357266ff, #a3bbadff, #65532fff, #312509ff);
$gradient-top-right: linear-gradient(45deg, #0e3b43ff, #357266ff, #a3bbadff, #65532fff, #312509ff);
$gradient-bottom-right: linear-gradient(135deg, #0e3b43ff, #357266ff, #a3bbadff, #65532fff, #312509ff);
$gradient-top-left: linear-gradient(225deg, #0e3b43ff, #357266ff, #a3bbadff, #65532fff, #312509ff);
$gradient-bottom-left: linear-gradient(315deg, #0e3b43ff, #357266ff, #a3bbadff, #65532fff, #312509ff);
$gradient-radial: radial-gradient(#0e3b43ff, #357266ff, #a3bbadff, #65532fff, #312509ff);